<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="WEb-Tests selenide" parallel="classes" thread-count="5">

    <listeners>
        <listener class-name="com.qaprosoft.zafira.listener.ZafiraListener"/>
    </listeners>

    <parameter name="suiteOwner" value="qpsdemo"/>
    <parameter name="zafira_project" value="UNKNOWN"/>
    <parameter name="jenkinsJobName" value="WEB-TEST"/>
    <parameter name="jenkinsJobCreation" value="true"/>

    <test name="Google Search Page Test">
        <classes>
            <class name="com.shukal.gui.test.GoogleSearchTest" />
            <class name="com.shukal.gui.test.SearchResultsTest" />
        </classes>
    </test>

</suite>